<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtvjobs.ycc.club.clubMapper" >

	<sql id="selectAllClub">
		select *, (select count(*) as club_member_cnt from club_member cm where club_id = c.club_id),
		<choose>
			<when test='keyword!=null'>
				(select count(*) as count from club c where true <include refid="searchConditionClub" />)
			</when>
			<otherwise>
				(select count(*) from club c)
			</otherwise>
		</choose>
		from club c
	</sql>
	
	<sql id="searchConditionClub">
		AND club_title LIKE concat('%',#{keyword},'%')
	</sql>

	<select id="clubListSelect" resultType="ClubDto" parameterType="SearchItem">
		<include refid="selectAllClub" />
		where true <include refid="searchConditionClub" />
		limit #{pageSize} offset #{offset}
	</select>
	
	 <!-- 같은 동아리명이 있으면 count 1 , 없으면 0 체크해서 중복확인  -->
	 <select id="clubTitleCheck" parameterType="String" resultType="Integer">
		select count(club_title)
		from club c 
		where c.club_title = #{club_title}
	 </select>
	
	<select id="popularClub" resultType="ClubDto">
		<include refid="selectAllClub" />
		order by count desc
		limit 3
	</select>
	
	<select id="myClubSelect" resultType="ClubDto" parameterType="String">
		select * 
		from club c
		join club_member cm 
		on c.club_id = cm.club_id
		left join club_board cb 
		on cm.club_id = cb.club_id  
		where cm.user_id = #{user_id}
	</select>
	
	<select id="clubSelect" resultType="ClubDto" parameterType="map">
<!--  		select * 
		from club c
		left join club_board cb 
		on c.club_id = cb.club_id 
		where c.club_id = #{club_id} -->
		select *, 
		(select count(*)
		from club_board cb 
		where cb.club_id = #{club_id})
		from club c
		left join club_board cb 
		on c.club_id = cb.club_id 
		where c.club_id = #{club_id}
		limit #{pageSize} offset #{offset}
	</select>
	
<!-- 	<select id="postSelect" resultType="ClubDto" parameterType="Integer">
		select *
		from club_board cb 
		left join club_board_comment cbc 
		on cb.club_article_id = cbc.club_article_id
		where cb.club_article_id = #{club_article_id}
	</select> -->
	
	<select id="postSelect" resultType="ClubDto" parameterType="Integer">
		select *
		from club_board cb 
		where cb.club_article_id = #{club_article_id}
	</select>
	
	<select id="selectClubComment" resultType="ClubDto" parameterType="Integer">
		select *
		from club_board_comment cbc
		where cbc.club_article_id = #{club_article_id}
	</select>
	
	<insert id="clubInsert" parameterType="map">
		INSERT INTO public.club
		(club_title, club_create_time, club_info, club_master_id)
		VALUES(#{club_title}, now(), #{club_info}, #{club_master_id})
	</insert>
	
	<insert id="commentInsert" parameterType="map">
		INSERT INTO public.club_board_comment
		(club_comment, club_comment_time, user_id, club_article_id)
		VALUES(#{club_comment}, now(), #{user_id}, #{club_article_id})
	</insert>
	
	<!-- insert후 키 값 가져오기
	useGeneratedKeys="true" keyProperty="변수명" keyColumn="Sql컬럼명"
	insert후 redirect시 /club/board/view 로 이동하는데 그 때 insert된 게시글의 club_article_id 파라미터를 넘겨주기 위해서 사용-->
	<insert id="postInsert" parameterType="map" useGeneratedKeys="true" keyProperty="keyNum" keyColumn="club_article_id">
		INSERT INTO public.club_board
		(club_article_title, club_article_content, club_board_upload_time, club_article_viewcnt, club_id, user_id)
		VALUES(#{club_article_title}, #{club_article_content}, now(), 0, #{club_id}, #{user_id})
	</insert>
	
	<update id="updatePost" parameterType="map">
		UPDATE public.club_board
		SET club_article_title=#{club_article_title}, club_article_content=#{club_article_content}
		WHERE club_article_id=#{club_article_id}
	</update>
	
	<delete id="deletePost" parameterType="Integer">
		DELETE FROM public.club_board
		WHERE club_article_id=#{club_article_id}
	</delete>
 
	
</mapper>